<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Service.Properties.Settings>
            <setting name="Service_linux_Service" serializeAs="String">
                <value>http://226589.s.dedikuoti.lt/service/Service.asmx</value>
            </setting>
        </Service.Properties.Settings>
    </applicationSettings>
</configuration>