<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="FSharp.Core"
                                  publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral" />
                <codeBase version="2.0.0.0"
                          href="privatebin/FSharp.Core.dll"/>
                <codeBase version="4.0.0.0"
                          href="FSharp.Core.dll"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>

